/* COLORES */
/* Celeste */
/* AZUL */
/* CASI BLANCO */
/* SALMON */
/* mostaza */
/*  TIPOGRAFIAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e71d36;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23E71D36'/%3E%3Cstop offset='1' stop-color='%23E71D36'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}

header {
  font-family: Macondo;
  width: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  color: black;
}
header .neki__logo {
  width: 15%;
  display: none;
}
header .nav-link {
  text-transform: uppercase;
  margin-top: 1rem;
  color: black;
}

footer {
  background-color: white;
  font-family: Macondo;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
footer .footer__redes {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
footer .footer__redes .footer__red {
  display: flex;
  justify-content: center;
}
footer .footer__redes .footer__red img {
  width: 15%;
}
footer .footer__derechos, footer .footer__neki {
  margin-top: 1rem;
  text-align: end;
  padding-right: 1rem;
  font-size: 0.8rem;
}
footer .footer__neki {
  margin-top: 0rem;
  text-align: end;
}

/*  INDEX */
.bienvenidos__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  font-family: Indie Flower;
}
.bienvenidos__hero .bienvenidos__title {
  font-size: 2.5rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  margin: 2rem 2rem 3rem 2rem;
}

.bienvenidos__cards {
  margin-top: 5rem;
  font-family: Indie Flower;
}
.bienvenidos__cards-img {
  border-radius: 500px;
}
.bienvenidos__cards-title {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
}
.bienvenidos__cards-text {
  font-family: Macondo;
  color: white;
}

.bienvenidos__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Indie Flower;
  margin-top: 4rem;
}
.bienvenidos__redes-title {
  font-size: 2rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.bienvenidos__redes-img {
  width: 8rem;
  margin-top: 2rem;
}

/* CAMITAS */
.productos__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0.5rem;
  font-family: Indie Flower;
}
.productos__hero-title {
  font-size: 2.5rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  padding: 1rem;
  text-transform: uppercase;
}
.productos__hero-text {
  font-size: 1.2rem;
  margin: 2rem 0.5rem;
  background-color: #2ec4b6;
  border-radius: 25px;
  color: #fdfffc;
  padding: 1rem;
}

/* CARDS PRODUCTOS */
.cards__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  font-family: Indie Flower;
}

.productos__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.productos__card-title {
  font-size: 2rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #ff9f1c;
}
.productos__card-text {
  margin-top: 0.5rem;
  align-self: flex-start;
  font-size: 1rem;
  color: white;
  font-family: Macondo;
}
.productos__card-precio {
  font-size: 1.5rem;
  background-color: #ff9f1c;
  margin-bottom: 2rem;
  color: black;
  border-radius: 25px;
  padding: 0.5rem;
}
.productos__card-talle {
  font-size: 1.5rem;
  color: white;
  font-family: Macondo;
}
.productos__card-color {
  font-size: 1.5rem;
  color: white;
  font-family: Macondo;
}
.productos__card .btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-family: Macondo;
  background-color: #ff9f1c;
}

/*# sourceMappingURL=style.css.map */
