/* COLORES */
/* Celeste */
/* AZUL */
/* CASI BLANCO */
/* SALMON */
/* mostaza */
/*  TIPOGRAFIAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}

header {
  font-family: Macondo;
  width: 100%;
  background-color: #cbf3f0;
  display: flex;
  flex-direction: column;
  color: black;
}
header .neki__logo {
  width: 10%;
  display: none;
}
header .nav-link {
  text-transform: uppercase;
  margin-top: 1rem;
  color: black;
  background-color: #cbf3f0;
  border-radius: 50px;
}
header .nav-link:hover {
  background-color: #2ec4b6;
  border-radius: 50px;
}
@media (min-width: 768px) {
  header {
    align-items: center;
  }
  header .neki__logo {
    display: inline-block;
  }
  header .nav-link {
    margin-right: 0.4rem;
  }
}
@media (min-width: 992px) {
  header {
    align-items: center;
  }
  header .neki__logo {
    display: inline-block;
    width: 5%;
  }
  header .nav-link {
    margin-right: 0.4rem;
  }
}
footer {
  background-color: #cbf3f0;
  font-family: Macondo;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
footer .footer__redes {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
footer .footer__redes .footer__red {
  display: flex;
  justify-content: center;
}
footer .footer__redes .footer__red img {
  width: 20%;
}
footer .footer__derechos, footer .footer__neki {
  margin-top: 1rem;
  text-align: end;
  padding-right: 1rem;
  font-size: 0.8rem;
}
footer .footer__neki {
  margin-top: 0rem;
  text-align: end;
}

@media (min-width: 768px) {
  footer .footer__redes .footer__red img {
    width: 10%;
  }
}
@media (min-width: 992px) {
  footer .footer__redes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .footer__redes .footer__red img {
    width: 8%;
  }
}
/*  INDEX */
.bienvenidos__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  font-family: Indie Flower;
}
.bienvenidos__hero .bienvenidos__title {
  font-size: 2.5rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  margin: 2rem 1rem 2rem 1rem;
}

.carousel-item {
  height: 70vh;
  object-fit: fill;
}

.bienvenidos__cards {
  margin-top: 1rem;
  font-family: Indie Flower;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bienvenidos__cards .bienvenidos__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 22rem;
  height: 33rem;
  background-color: #ffbf69;
  margin-top: 2rem;
  box-shadow: 1px 0px 21px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 1px 0px 21px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 0px 21px 1px rgba(0, 0, 0, 0.44);
}
.bienvenidos__cards .bienvenidos__card-body {
  width: 22rem;
  height: 13rem;
}
.bienvenidos__cards .bienvenidos__card-img {
  width: 22rem;
  height: 20rem;
  justify-self: flex-start;
  object-fit: cover;
}
.bienvenidos__cards .bienvenidos__card-title {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: #2ec4b6;
  padding-top: 0.5rem;
}
.bienvenidos__cards .bienvenidos__card-text {
  font-family: Macondo;
  color: black;
  padding-left: 0.5rem;
}

.bienvenidos__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Indie Flower;
  margin-top: 4rem;
}
.bienvenidos__redes-title {
  font-size: 2rem;
  text-align: center;
  background-color: #ff9f1c;
  border-radius: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.bienvenidos__redes-img {
  width: 8rem;
  margin-top: 2rem;
}

/* CAMITAS */
.productos__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0.5rem;
  font-family: Indie Flower;
}
.productos__hero-title {
  font-size: 2.5rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  padding: 1rem;
  text-transform: uppercase;
}
.productos__hero-text {
  font-size: 1.2rem;
  margin: 2rem 0.5rem;
  background-color: #ffbf69;
  border-radius: 25px;
  color: #ffffff;
  padding: 1rem;
}
.productos__hero .guia__talles {
  background-color: #ffbf69;
  border-radius: 25px;
  padding: 1rem;
  font-family: Macondo;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productos__hero .guia__talles-title {
  font-size: 2.5rem;
}
.productos__hero .guia__talles-text {
  font-size: 1.5rem;
  background-color: #ff9f1c;
  border-radius: 25px;
  padding: 0.5rem;
  align-self: center;
}

/* CARDS PRODUCTOS */
.cards__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: Indie Flower;
}

.productos__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cbf3f0;
  width: 22rem;
  height: 50rem;
  box-shadow: 1px 0px 21px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 1px 0px 21px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 0px 21px 1px rgba(0, 0, 0, 0.44);
}
.productos__card-img {
  width: 22rem;
  height: 30rem;
  justify-self: flex-start;
  object-fit: cover;
}
.productos__card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 22rem;
  height: 20rem;
}
.productos__card-body .productos__card-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ff9f1c;
}
.productos__card-body .productos__card-text {
  align-self: flex-start;
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: Macondo;
}
.productos__card-body .productos__card-precio {
  font-size: 1.5rem;
  background-color: #2ec4b6;
  margin-bottom: 0.5rem;
  color: black;
  border-radius: 25px;
  padding: 0.2rem;
}
.productos__card-body .productos__card-talle {
  font-size: 1.2rem;
  font-family: Macondo;
}
.productos__card-body .productos__card-color {
  font-size: 1.2rem;
  font-family: Macondo;
}
.productos__card-body .btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-family: Macondo;
  background-color: #ff9f1c;
  border-color: #ff9f1c;
  margin-bottom: 0.5rem;
}
.productos__card-body .btn:hover {
  background-color: #ff9f1c;
  border-color: #ff9f1c;
}

@media (min-width: 768px) {
  .bienvenidos__hero .bienvenidos__title {
    font-size: 3rem;
    padding: 0.5rem;
  }

  .bienvenidos__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .bienvenidos__cards .card .bienvenidos__cards-img {
    width: 100%;
    height: 35%;
    object-fit: cover;
  }

  .bienvenidos__redes-img {
    width: 6rem;
    height: 6rem;
  }

  .productos__hero-title {
    font-size: 3rem;
  }

  .cards__productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .bienvenidos__cards {
    width: 95%;
    margin-left: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
