/* COLORES */
/* Celeste */
/* AZUL */
/* CASI BLANCO */
/* SALMON */
/* mostaza */
/*  TIPOGRAFIAS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

header {
  font-family: Macondo;
  width: 100%;
  background-color: #cbf3f0;
  display: flex;
  flex-direction: column;
  color: black;
}
header .neki__logo {
  width: 15%;
  display: none;
}
header .nav-link {
  text-transform: uppercase;
  margin-top: 1rem;
  color: black;
}
header .navbar-toggler-icon {
  background-color: #ffbf69;
  border-radius: 20px;
}
header .navbar-toggler {
  background-color: #2ec4b6;
}

footer {
  background-color: #ffbf69;
  font-family: Macondo;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
footer .footer__redes {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
footer .footer__redes .footer__red {
  display: flex;
  justify-content: center;
}
footer .footer__redes .footer__red img {
  width: 15%;
}
footer .footer__derechos, footer .footer__neki {
  margin-top: 1rem;
  text-align: end;
  padding-right: 1rem;
  font-size: 0.8rem;
}
footer .footer__neki {
  margin-top: 0rem;
  text-align: end;
}

/*  INDEX */
.bienvenidos__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  font-family: Indie Flower;
}
.bienvenidos__hero .bienvenidos__title {
  font-size: 2.5rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  margin: 2rem 2rem 3rem 2rem;
}

.bienvenidos__cards {
  margin-top: 3rem;
  font-family: Indie Flower;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bienvenidos__cards-body {
  background-color: #ffbf69;
}
.bienvenidos__cards-img {
  width: 100%;
  height: 60%;
}
.bienvenidos__cards-title {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color: #2ec4b6;
}
.bienvenidos__cards-text {
  font-family: Macondo;
  color: black;
}

.bienvenidos__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Indie Flower;
  margin-top: 4rem;
}
.bienvenidos__redes-title {
  font-size: 2rem;
  text-align: center;
  background-color: #ff9f1c;
  border-radius: 25px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.bienvenidos__redes-img {
  width: 8rem;
  margin-top: 2rem;
}

/* CAMITAS */
.productos__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0.5rem;
  font-family: Indie Flower;
}
.productos__hero-title {
  font-size: 2.5rem;
  text-align: center;
  background-color: #2ec4b6;
  border-radius: 25px;
  padding: 1rem;
  text-transform: uppercase;
}
.productos__hero-text {
  font-size: 1.2rem;
  margin: 2rem 0.5rem;
  background-color: #ff9f1c;
  border-radius: 25px;
  color: #ffffff;
  padding: 1rem;
}

/* CARDS PRODUCTOS */
.cards__productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  font-family: Indie Flower;
}

.productos__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cbf3f0;
}
.productos__card-title {
  font-size: 2rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #ff9f1c;
}
.productos__card-text {
  margin-top: 0.5rem;
  align-self: flex-start;
  font-size: 1rem;
  font-family: Macondo;
}
.productos__card-precio {
  font-size: 1.5rem;
  background-color: #2ec4b6;
  margin-bottom: 2rem;
  color: black;
  border-radius: 25px;
  padding: 0.5rem;
}
.productos__card-talle {
  font-size: 1.5rem;
  font-family: Macondo;
}
.productos__card-color {
  font-size: 1.5rem;
  font-family: Macondo;
}
.productos__card .btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-family: Macondo;
  background-color: #ff9f1c;
  border-color: #ff9f1c;
}

/*# sourceMappingURL=style.css.map */
