header {
  font-family: Macondo;
  width: 100%;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  color: black;

  .neki__logo {
    width: 10%;
    display: none;
  }

  .nav-link {
    text-transform: uppercase;
    margin-top: 1rem;
    color: black;
    background-color: $secondary-color;
    border-radius: 50px;

    &:hover {
      background-color: $primary-color;
      border-radius: 50px;
    }
  }

  .navbar-toggler-icon {
  }
  .navbar-toggler {
  }
}

@media (min-width: 768px) {
  header {
    align-items: center;
    .neki__logo {
      display: inline-block;
    }
    .nav-link {
      margin-right: 0.4rem;
    }
  }
}

@media (min-width: 992px) {
  header {
    align-items: center;

    .neki__logo {
      display: inline-block;
      width: 5%;
    }
    .nav-link {
      margin-right: 0.4rem;
    }
  }
}
