@media (min-width: 768px) {
  .bienvenidos__hero {
    .bienvenidos__title {
      font-size: 3rem;
      padding: 0.5rem;
    }
  }

  .bienvenidos__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .card {
      .bienvenidos__cards-img {
        width: 100%;
        height: 35%;
        object-fit: cover;
      }
    }
  }

  .bienvenidos__redes {
    &-img {
      width: 6rem;
      height: 6rem;
    }
  }

  .productos__hero {
    &-title {
      font-size: 3rem;
    }
  }

  .cards__productos {
    @include flexCenter(row);
    flex-wrap: wrap;
  }
}
