/* COLORES */

$primary-color: #2ec4b6; /* Celeste */
$secondary-color: #cbf3f0; /* AZUL */
$tertiary-color: #ffffff; /* CASI BLANCO */
$fourtiary-color: #ff9f1c; /* SALMON */
$fivertiary-color: #ffbf69; /* mostaza */

/*  TIPOGRAFIAS */

$popins: font-family;
