/* COLORES */

$primary-color: #2ec4b6; /* Celeste */
$secondary-color: #011627; /* AZUL */
$tertiary-color: #fdfffc; /* CASI BLANCO */
$fourtiary-color: #e71d36; /* SALMON */
$fivertiary-color: #ff9f1c; /* mostaza */

/*  TIPOGRAFIAS */

$popins: font-family;
