@import "variables";
@import "mixins";
@import "reset";

@import "header";
@import "footer";

/*  INDEX */

.bienvenidos__hero {
  @include flexCenter(column);
  margin-top: 0.5rem;
  font-family: Indie Flower;

  .bienvenidos__title {
    font-size: 2.5rem;
    text-align: center;
    background-color: $primary-color;
    border-radius: 25px;
    margin: 2rem 2rem 3rem 2rem;
  }
}

.bienvenidos__cards {
  margin-top: 5rem;
  font-family: Indie Flower;

  &-img {
    border-radius: 500px;
  }

  &-title {
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
  }

  &-text {
    font-family: Macondo;
    color: white;
  }
}

.bienvenidos__redes {
  @include flexCenter(column);
  font-family: Indie Flower;
  margin-top: 4rem;

  &-title {
    font-size: 2rem;
    text-align: center;
    background-color: $primary-color;
    border-radius: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &-img {
    width: 8rem;
    margin-top: 2rem;
  }
}

/* CAMITAS */

.productos__hero {
  @include flexCenter(column);
  margin: 2rem 0.5rem;
  font-family: Indie Flower;

  &-title {
    font-size: 2.5rem;
    text-align: center;
    background-color: $primary-color;
    border-radius: 25px;
    padding: 1rem;
    text-transform: uppercase;
  }

  &-text {
    font-size: 1.2rem;
    margin: 2rem 0.5rem;
    background-color: $primary-color;
    border-radius: 25px;
    color: $tertiary-color;
    padding: 1rem;
  }
}

/* CARDS PRODUCTOS */

.cards__productos {
  @include flexCenter(column);
  gap: 4rem;
  font-family: Indie Flower;
}

.productos__card {
  @include flexCenter(column);
  background-color: black;

  &-title {
    font-size: 2rem;
    margin-top: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    color: $fivertiary-color;
  }

  &-text {
    margin-top: 0.5rem;
    align-self: flex-start;
    font-size: 1rem;
    color: white;
    font-family: Macondo;
  }

  &-precio {
    font-size: 1.5rem;
    background-color: $fivertiary-color;
    margin-bottom: 2rem;
    color: black;
    border-radius: 25px;
    padding: 0.5rem;
  }

  &-talle {
    font-size: 1.5rem;
    color: white;
    font-family: Macondo;
  }

  &-color {
    font-size: 1.5rem;
    color: white;
    font-family: Macondo;
  }

  .btn {
    border-radius: 25px;
    text-transform: uppercase;
    font-family: Macondo;
    background-color: $fivertiary-color;
  }
}
